# Pandas Series

> hint: the most methods return a new Series -> no side effect

In [4]:
import numpy as np
import pandas as pd

In [5]:
#help(pd.Series)

**creation with python list**

In [6]:
myindex = ['USA', 'Canada', 'Mexico']
mydata = [1776, 1867, 1821]

myseries = pd.Series(data=mydata)
myseries

0    1776
1    1867
2    1821
dtype: int64

In [7]:
myseries = pd.Series(data=mydata, index=myindex)
myseries

USA       1776
Canada    1867
Mexico    1821
dtype: int64

**indexing**

In [8]:
myseries[0]

1776

In [9]:
myseries.USA

1776

In [10]:
myseries['USA']

1776

**creation with dictionary**

In [11]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

**operations**

In [12]:
q1 = {'Japan':80, 'China':450, 'India':200, 'USA':250}
q2 = {'Brazil':100, 'China':500, 'India':210, 'USA':260}

In [13]:
sales_q1 = pd.Series(q1)
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [14]:
sales_q2 = pd.Series(q2)
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [15]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [16]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [17]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [18]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [19]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [20]:
sales_q1_new = sales_q1.add(sales_q2, fill_value=0)
sales_q1_new

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

**methods**

In [21]:
sales_q1_new.astype('int')

Brazil    100
China     950
India     410
Japan      80
USA       510
dtype: int32

In [22]:
sales_q1.value_counts()

80     1
450    1
200    1
250    1
dtype: int64

In [24]:
sales_q1.unique()

array([ 80, 450, 200, 250], dtype=int64)

In [23]:
sales_q1.values

array([ 80, 450, 200, 250], dtype=int64)